<div id="chat-widget" class="chat-widget minimized">
  <div id="chat-header">
    <span>💬 Chat</span>
  </div>

  <div id="chat-body">
    <ul id="chat-messages"></ul>

    <div id="chat-input-container" class="d-flex p-2 border-top bg-light">
      <textarea
        id="chat-input"
        rows="1"
        class="form-control me-2 rounded-3"
        placeholder="Type a message..."
      ></textarea>
      <button type="button" class="btn btn-light me-1" id="emoji-button">😊</button>
      <input type="file" id="file-input" hidden />
      <button type="button" class="btn btn-light me-1" id="attach-button" title="Attach file">📎</button>
      <button type="submit" class="btn btn-primary px-2" id="send-button" title="Send">➤</button>
    </div>
  </div>
</div>

