<link rel="stylesheet" href="/css/courses.css">

<h1>Our Courses</h1>

<div class="course-container">
  <% offeredCourses.forEach(course => { %>
    <div class="course-card">
      <h3><%= course.title %></h3>
      <p><strong>Description:</strong> <%= course.description %></p>
      <p><strong>Ingrediants:</strong></p>
      <ul>
        <% course.items.forEach(item => { %>
          <li><%= item %></li>
        <% }); %>
      </ul>
      <span>Price: $<%= course.cost %></span>
    </div>
  <% }); %>
</div>
